<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<import resource="mybatis-spring.xml" />
	<import resource="spring-common.xml" />
	<import resource="applicationContext-ehcache.xml" />

	<context:annotation-config />

	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- 自动扫描的包名 -->
	<context:component-scan base-package="com.sbq" />

	<bean id="springContext" class="com.sbq.util.SpringContext"></bean>

	<!-- 总管理类 -->
	<bean id="startQuartz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
			</list>
		</property>
	</bean>
</beans>